.trade {
  background: #0d0d2b;
}
.title_center {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 24px;
}
.text_center {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 64px;
}
.calculate {
  background: #fff;
  border-radius: 16px 16px 0 0;
  padding: 48px;
  max-width: 942px;
  margin: 0 auto;
}
.calculate input {
  width: 403px;
  height: 38px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}
.calculate select {
  width: 200px;
  height: 38px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin: 0 48px;
}
